@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }
    
    
    body {
        font-family: "Poppins", sans-serif;
        background: linear-gradient(to bottom right, #011e3d, #ff914c);
        background-size: cover;
        overflow-x: hidden; 
    }
    
    
    .container {
        max-width: 1250px;
        margin: 0 auto;
    }
    
    
    .header {
        min-height: 70vh;
        display: flex;
        align-items: center;
    }
    
    
   
    
.hamburger-menu {
    position: absolute;
    top: 0;
    left: 0;        
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
  }
  
  .logo {
    margin-right: 260px;
  }
  
  .logo-img {
    width: 40px;
    height: 40px;
  }
  
  .hamburger-button {
    background-color: #00000000;
    color: #ff914c;
    border: none;
    padding: 10px 20px;
    font-size: 26px;
    cursor: pointer;
  }
  
  .hamburger-icon {
    background-color: #00000000;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 0;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger-button:hover .hamburger-icon {
    background-color: #00000000;
  }
  
  .hamburger-menu-list {
    border-radius: 10px;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #011e3d;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: none;
    z-index: 1001;
  }
  
  .hamburger-menu-list li {
    margin-bottom: 10px;
  }
  
  .hamburger-menu-list a {
    color: #fff;
    text-decoration: none;
  }
  
  .hamburger-menu-list a:hover {
    color: #ccc;
  }
  
  .hamburger-button.active .hamburger-menu-list {
    display: block;
  }



    .header-txt {
        text-align: center;
    }
    
    
    .header-txt h1 {
        font-size: 50px;
        color: #011e3d;
        text-transform: uppercase;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
    }
    
    
    .header-txt h2 {
        font-size: 55px;
        color: #ff914c;
        text-transform: uppercase;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
    }
    
    
    .header-txt p {
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        padding: 0 250px;
        margin-bottom: 45px;
    }
    
    
    .btnp-1 {
        align-items: center;
        display: inline-block;
        padding: 12px 45px;
        border: 1px solid #FFFDFC;
        color: #FFFDFC;
        font-size: 16PX;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    
    .btnp-1:hover {
        color: #011e3d;
        background-color: #ff914c83;
    }
    
    
    
    
    .general {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .general-content {
        align-items: center;
        margin-top: 5px;
        position: relative;
    }
    
    
    .general-content h3 {
        text-align: center;
        margin: 0;
    }
    
    
    .general-content h4 {
        color: #ff914c;
        font-size: 12px;
    }
    
    
    .flip-card {
        background-color: transparent;
        perspective: 1000px;
        margin: 0 5px;
    }
    
    
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    
    .flip-card-front {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(37, 36, 36, 0.1);
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    .flip-card-front {
        background-color: #011e3d;
        color: white;
        text-align: left;
    }


    .large-card {
        width: 800px;
        height: 400px;
    }
    
    
    .capacitacion-img {
        width: 100px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    
    
    
    .txt h3 {
        font-size: 18px;
        color: #FFFDFC;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    
    
    .txt p {
        color: #EBEBEB;
        font-size: 16px;
    }
    
    
    h2 {
        font-size: 70px;
        text-transform: uppercase;
        color: #EBEBEB;
    }
    
    
    .txt h3 {
        font-size: 18px;
        color: #FFFDFC;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    
    
    .txt p {
        color: #EBEBEB;
        font-size: 16px;
    }

    
    

    .infor-2 {
        padding: 50px 0;
    }
    
    .infor-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .infor-box {
        background-color: #011e3d;
        color: #FFFDFC;
        padding: 20px;
        border-radius: 10px;
        flex: 1;
        margin: 0 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        width: 30%;
    }
    
    .infor-box h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    
    .infor-box p {
        font-size: 16px;
    }
    
    .infor-box:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    

    @media (max-width: 768px) {
        .infor-box {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    
    
    .contact-fixed-1 {
        position: fixed;
        width: 15px;
        height: 10px;
        top: 85%;
        right: 150px;
        background-color: #011e3d;
        border-radius: 1000px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        text-align: center;
        transform: translateY(-50%);
        z-index: 1000;
    }
    
    .whatsapp-icon {
        width: 90px;
        height: 90px;
        transition: transform 0.3s ease;
    }

    .hide-whatsapp-icon {
        display: none;
    }
    
    .whatsapp-icon:hover {
        transform: translateY(-2px) scale(1.3);
    }
    
    .contact-fixed-1::after {
        content: "Contáctanos ya +52 656 563 4288";
        position: absolute;
        width: 130px;
        top: -10;
        right: 100px;
        background-color: #011e3d;
        color: white;
        padding: 10px;
        border-radius: 5px;
        white-space: pre-wrap;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        text-align: center;
        font-size: 14px;
    }
    
    .contact-fixed-1:hover::after {
        opacity: 1;
        visibility: visible;
    }
    

    .info-1 {
        padding: 30px 0;
        background: none;
    }
    
    .info-content {
        text-align: center;
    }
    
    
    .info-icons {
        display: flex;
        justify-content: center;
        margin-top: 55px;
        gap: 400px;
    }
    
    .icon {
        font-size: 120px;
        color: #222;
        transition: transform 0.3s ease, color 0.3s ease;
    }
    
    .icon:hover {
        color: #011e3d;
        transform: scale(1.2);
    }
    
    
    .icon i {
        transition: transform 0.3s ease;
    }
    
    .icon:hover i {
        transform: rotate(360deg);
    }
    
    .footer-container {
        background-color: #011e3d;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
    }
    
    .footer-section {
        flex: 1;
        min-width: 230px;
        margin: 10px;
    }
    
    .footer-section h4 {
        margin-bottom: 10px;
        border-bottom: 2px solid #ff914c;
    }
    
    .footer-section p, .footer-section ul, .footer-section form {
        margin: 0;
        padding: 0;
    }
    
    .footer-section ul {
        list-style: none;
    }
    
    .footer-section ul li {
        margin: 5px 0;
    }
    
    .footer-section ul li a {
        color: #fff;
        text-decoration: none;
    }
    
    .footer-section ul li a:hover {
        text-decoration: underline;
    }
    
    .footer-section .social-media a {
        align-items: center;
        margin: 0 100px;
        color: #fff;
        font-size: 240px;
        text-decoration: none;
    }
    
    
    .footer-section .social-media a .custom-size {
        font-size: 400px;
    }
    
    
    
    .footer-section .social-media a:hover {
        color: #ff914c;
    }
    
    
    .footer-bottom {
        background-color: #222;
        color: #bbb;
        text-align: center;
        padding: 10px;
    }
    
    .footer-bottom p {
        margin: 0;
    }
    
    
    
    
    
    @media(max-width: 990px) {

        .hamburger-menu-list {
            max-width: 100%;
            left: 5%;
            right: 5%;
        }
    

        .header {
            min-height: 0vh;
        }
    
        .header-content {
            padding: 10px 30px;
        }
    
        .header-txt h1 {
            font-size: 40px;
        }
    
        .header-txt h2 {
            font-size: 40px;
        }
    
        .header-txt h4 {
            font-size: 20px;
        }
    
        .header-txt p {
            font-weight: 400;
            font-size: 20px;
            padding: 0;
        }
    
        .header-h2 h2 {
            font-size: 40px;
        }
    
        
        .general-content {
            align-items: center;
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 10px 30px;
        }
        
        .large-card {
            width: 100%;
            height: 500px;
            margin: 10px 30px;
        }
        
        .flip-card {
            width: 2200%;
            margin: 10px 0;
            margin: 10px 30px;
        }
        
        .flip-card-inner {
            width: 100%;
            height: 530px;
        }
        
        .capacitacion-img {
            width: 100px;
            height: auto;
        }
        
        .general-content h3 {
            font-size: 18px;
        }
        
        .general-content h4 {
            font-size: 12px;
        }
        
        .flip-card-front {
            padding: 15px;
        }

        .contact-fixed-1 {
            bottom: 15px;
            right: 85px;
        }

        .whatsapp-icon {
            width: 65px;
            height: 65px;
            transition: transform 0.3s ease;
        }

        .contact-fixed-1::after {
            right: 50px;
            width: 150px;
        }

        .flip-card {
            margin: 10px;
        }
        
        .flip-card-btn, .flip-card-btn-1 {
            padding: 15px 20px;
            font-size: 12px;
        }

        .infor-2 {
            margin: 10px 40px;
        }
    
        .infor-box {
            width: 100%;
            height: auto;
            padding: 15px 20px;
            margin: 10px 30px;
        }
    
        .content-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin: 10px 30px;
            justify-content: center;
            align-items: center;
        }
    
        .courses, .benefits {
            width: 100%;
            margin-bottom: 20px;
        }
    
    
    
        .info-1 {
            margin: 10px 40px;
            padding: 20px 0;
        }
    
        .info-content h2, span {
            font-size: 40px;
        }
    
        .info-icons {
            flex-direction: column;
            gap: 30px;
            align-items: center;
        }
    
        .icon {
            font-size: 60px;
        }
    
        
        .footer {
            margin: 10px 40px;
            padding: 0;
            margin-top: 40px;
        }
    }
}